<h1>Listing user_email_confirmations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_email_confirmations.each do |user_email_confirmation| %>
  <tr>
    <td><%= link_to 'Show', user_email_confirmation %></td>
    <td><%= link_to 'Edit', edit_user_email_confirmation_path(user_email_confirmation) %></td>
    <td><%= link_to 'Destroy', user_email_confirmation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User email confirmation', new_user_email_confirmation_path %>
